@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="login-section pt-120 pb-120">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center g-4">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="form-title">
                        <h3>Log In</h3>
                        <p>New Member? <a class="text-primary" href="/Account/Register">signup here</a></p>
                    </div>

                    <div class="form-title">
                        <h6 class="text-success text-center">@TempData["successMessage"]</h6>
                        <h6 class="text-danger text-center">@TempData["statusdeactive"]</h6>
                    </div>
                    <div class="row">
                        <form asp-action="Login" asp-controller="Account" method="post" class="w-100">

                            <div class="col-12">
                                <div class="form-inner">
                                    <label>Enter Your Email *</label>
                                    <input asp-for="Email" name="Email" id="Email" placeholder="Enter Your Email" required>
                                    <span class="text-danger">@TempData["errorEmail"]</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-inner">
                                    <label>Password *</label>
                                    <input type="password" name="Password" id="Password" placeholder="Password" required>
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                    <div class="d-flex">
                                        <span class="text-danger d-block">@TempData["errorPassword"]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-agreement form-inner d-flex justify-content-between flex-wrap">
                                    <div class="form-group">
                                        <input type="checkbox" id="html">
                                        <label for="html">Remember me</label>
                                    </div>
                                    <a href="@Url.Action("ForgotPassword","Account")" class="forgot-pass">Forgotten Password?</a>
                                </div>
                            </div>

                            <button type="submit" class="account-btn">Log in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

